<div class="footer">
    <div class="grid">
        <div class="grid-row">
            <div class="grid-column-4">
                <h3 class="footer-heading">Chăm sóc khách hàng</h3>
                <ul class="footer-menu">
                    <li class="footer-list-item"><i class="ti-mobile footer-icon"></i> <span>Tư vấn bán hàng <br> 0123456789</span> </li>   
                    <li class="footer-list-item"><i class="ti-mobile footer-icon"></i> <span>Hỗ trợ kĩ thuật <br> 0978654321</span> </li>
                    <li class="footer-list-item"><i class="ti-email footer-icon"></i> <span>Địa chỉ liên hệ <br> abcdes@gmail.com</span> </li>
                </ul>
            </div>
            <div class="grid-column-4">
                <h3 class="footer-heading">Chính sách cửa hàng</h3>
                <ul class="footer-menu" >
                    <li>
                    <a href="" class="footer-menu-item"><i class="ti-angle-right"></i> Chính sách vận chuyển và giao nhận</a>
                    </li>
                    <li>
                    <a href="" class="footer-menu-item"><i class="ti-angle-right"></i> Chính sách bảo hành sản phẩm</a>
                    </li>
                    <li>
                    <a href="" class="footer-menu-item"><i class="ti-angle-right"></i> Chính sách đổi trả-hoàn tiền</a>
                    </li>
                    <li>
                    <a href="" class="footer-menu-item"><i class="ti-angle-right"></i> Điều khoản dịch vụ</a>
                    </li>
                </ul>
            </div>
            <div class="grid-column-4">
                <h3 class="footer-heading">Thông tin thanh toán</h3>
                <ul class="footer-menu" >
                    <li>
                    <a href="" class="footer-menu-item"><i class="ti-angle-right"></i> Chuyển khoản qua ngân hàng</a>
                    </li>
                    <li>
                    <a href="" class="footer-menu-item"><i class="ti-angle-right"></i> Thanh toán tiền mặt</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>