<h1>Đặt mua linh kiện hiếm</h1>
<p style="height:110px" class="text-detail" >Chúng tôi nhận đặt mua linh kiện hiếm theo yêu cầu của quý khách,quý khách có thể gửi thông linh kiện tên hoặc hình ảnh linh kiện vào địa chỉ email : cuahanglinhkiendt@gmail.com,sau đó chúng tôi sẽ phản hồi lại cho quý khách.</p>