<h1 class="text-title">Giới thiệu</h1>
<p style="height:110px" class="text-detail" >Shoplinhkiendt.com chuyên cung cấp linh kiện zin tháo máy, linh kiện mới chất lượng, sản xuất các bo mạch về âm thanh và một số thiết bị khác.</p>