<h1>Hướng dẫn</h1>
<p class="text-detail" style="text-align: justify;"><strong>Bước 1:</strong> Truy cập website và lựa chọn sản phẩm cần mua để mua hàng.</p>
<p class="text-detail" style="text-align: justify;"><strong>Bước 2:</strong> Click và sản phẩm muốn mua, sản phẩm sẽ được thêm vào giỏ hàng.</p>
<p class="text-detail" style="text-align: justify;">Nếu bạn đã hoàn thiện giỏ hàng của mình, bấm vào nút ma hàng bên trong giỏ hàng.</p>
<p class="text-detail" style="text-align: justify;">Bạn sẽ được chuyển đến trang thông tin thanh toán.</p>
<p class="text-detail" style="text-align: justify;"><strong>Bước 4:</strong> Điền các thông tin của bạn để nhận đơn hàng.</p>
<p class="text-detail" style="text-align: justify;"><strong>Bước 5:</strong> Xem lại thông tin đặt hàng, điền chú thích và gửi đơn hàng</p>
<p class="text-detail" style="text-align: justify;">Sau khi nhận được đơn hàng bạn gửi chúng tôi sẽ liên hệ bằng cách gọi điện lại để xác nhận lại đơn hàng và địa chỉ của bạn.</p>
<p class="text-detail" style="text-align: justify;">Trân trọng cảm ơn.</p>